{% extends "base.html.twig" %}

{% block title %}Accueil - Espadrille Volante{% endblock %}

{% block body %}
    
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center">
        <h2>
            Bienvenue à l'Espadrille Volante !
        </h2>
    </div>

    {{ include('home/partials/_filters.html.twig') }}

{% endblock %}