{% extends "base.html.twig" %}

{% block title %}Récapitulatif{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center mb-4">
        <h2>
            Récapitulatif
        </h2>
    </div>

    <section id="bill-det" class="container">
        <p>
        <strong>1 x {{property.name}} ({{property.pricing.label}})</strong><br>
        pour {{booking.nb_adults}} adulte(s){% if booking.nb_children != 0 %} et {{booking.nb_children}} enfant(s) {% endif %}
        </p>
        <p>
        <strong>Sejour : {{days}} jour(s)</strong><br>
        Du {{booking.date_start | date('d/m/Y')}} au {{booking.date_end | date('d/m/Y')}}
        </p>

        <table class="mt-4" style="width:100%">
        <tr>
            <th>Désignation</th>
            <th>Qté</th> 
            <th>Prix Unitaire</th>
            <th>Sous-total</th>
        </tr>
        
        <tr>
            <td>{{property.name}} ({{property.pricing.label}})</td>
            <td>1</td>
            <td>{{(property.pricing.value)|number_format(2, ',', ' ')}}€</td>
            <td>{{(property.pricing.value)|number_format(2, ',', ' ')}}€</td>
        </tr>

        {# Adult Tax #}
        {% if booking.nb_adults != 0 %}
        <tr>
            <td>{{pricings[9].label}}</td>
            <td>{{booking.nb_adults}} x {{days}}</td>
            <td>{{(pricings[9].value)|number_format(2, ',', ' ')}}€</td>
            <td>{{( (booking.nb_adults)*(days)*(pricings[9].value) )|number_format(2, ',', ' ')}}€</td>
        </tr>
        {% endif %}

        {# Children Tax #}
        {% if booking.nb_children != 0 %}
        <tr>
            <td>{{pricings[10].label}}</td>
            <td>{{booking.nb_children}} x {{days}}</td>
            <td>{{(pricings[10].value)|number_format(2, ',', ' ')}}€</td>
            <td>{{( (booking.nb_children)*(days)*(pricings[10].value) )|number_format(2, ',', ' ')}}€</td>
        </tr>
        {% endif %}

        {# Pool Pass Adult #}
        {% if booking.pass_adults != 0 %}
        <tr>
            <td>{{pricings[11].label}}</td>
            <td>{{booking.pass_adults}}</td>
            <td>{{pricings[11].value|number_format(2, ',', ' ')}}€</td>
            <td>{{( (booking.pass_adults)*(pricings[11].value) )|number_format(2, ',', ' ')}}€</td>
        </tr>
        {% endif %}

        {# Pool Pass Children #}
        {% if booking.pass_children != 0 %}
        <tr>
            <td>{{pricings[12].label}}</td>
            <td>{{booking.pass_children}}</td>
            <td>{{(pricings[12].value)|number_format(2, ',', ' ')}}€</td>
            <td>{{( (booking.pass_children)*(pricings[12].value) )|number_format(2, ',', ' ')}}€</td>
        </tr>
        {% endif %}

        {# High Season Tax #}
        {% if highSeason_days != 0 %}
        <tr>
            <td>{{pricings[13].label}}</td>
            <td>{{highSeason_days}}</td>
            <td>{{pricings[13].value}}%</td>
            <td>{{highSeason_tax|number_format(2, ',', ' ')}}€</td>
        </tr>
        {% endif %}
    </table>

    {# Bill Footer #}
    <div class="d-flex justify-content-end">
        <table style="width:30%">
            <tr>
                <td><strong>Total (HT)</strong></td>
                <td><strong>{{totals[0]|number_format(2, ',', ' ')}}€</strong></td> 
            </tr>
        {% if totals[1] != 0 %}
            <tr>
                <td><strong><em>With Discount (-{{pricings[14].value}}%)</em></strong></td>
                <td><strong><em>{{totals[1]|number_format(2, ',', ' ')}}€</em></strong></td> 
            </tr>
        {% endif %}
            <tr>
                <td>TVA</td>
                <td>20%</td> 
            </tr>
            <tr>
                <th>Total (TTC)</th>
                <th>{{totals[2]|number_format(2, ',', ' ')}}€</th> 
            </tr>
        </table>
    </div>

    <h4>Adresse de facturation :</h4>
    {{ form_start(userform) }}
    {{ form_rest(userform) }}
    {{ form_end(userform) }}

    </section>

{% endblock %}
