{% extends "base.html.twig" %}

{% block title %}{{property.name}} - Espadrille Volante{% endblock %}

{% block body %}
    <div class="jumbotron text-capitalize text-center">
        <h2>
            {{property.name}}
        </h2>
    </div>

    {{ include('home/partials/_menu.html.twig') }}

    <section class="container">

    <li class='card m-2' style='list-style: none;'>
        <h3 style='color: rgb(190, 97, 10); background-color: orange;' class='d-flex justify-content-between card-header'>#{{property.id}}
        
        {% if user and user.role == 2 %}
            <div><a class="btn btn-sm btn-outline-danger" style="color: white !important; background-color: #d91717;" 
            href="{{ path('prop-editor', {id: property.id} ) }}">Editer la propriété</a></div>
        {% endif %}

        </h3>

        <div class='card-body d-flex'>
            <div>
                {# TODO: Picture here ! #}
            </div>
            <div style="width:100%;">
                <div>
                    <h3>{{property.name}}</h3>
                    <p>
                        {{property.pricing.label}}<br>
                        appartenant à : {{property.owner.firstname}} {{property.owner.lastname}}<br>
                        <strong>Type :</strong> {{property.pricing.label}}<br>
                        Disponible du {{property.availability_start | date('d/m/Y')}} 
                        au {{property.availability_end | date('d/m/Y')}}
                    </p>
                </div>

                <div class="price d-flex justify-content-end">
                    <div><span>{{property.pricing.value}}€</span>/par nuit</div>
                </div>
            </div>
        </div>
    </li>

    <div class="col">
        <h4>Réserver cette propriété :</h3>
        {{ form_start(form) }}
        <div class="book-dates row form-group">
            <div class="col-4" >{{ form_row(form.date_start) }}</div>
            <div class="col-4" >{{ form_row(form.date_end) }}</div>
        </div>
        <div class="book-people row form-group">
            <div class="col-4" >{{ form_row(form.nb_adults) }} => {{ form_row(form.pool_adults) }}</div>
            <div class="col-4" >{{ form_row(form.nb_children) }} => {{ form_row(form.pool_children) }}</div>
        </div>      

        {{ form_end(form) }}
    </div>
    </section>
    

{% endblock %}
