{% extends "base.html.twig" %}

{% block title %}Panneau d'Administration{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center mb-4">
        <h2>
            {% if id == -1 %}Ajouter{% else %}Modifier{% endif  %} un utilisateur   
        </h2>
    </div>

    <section class="d-flex justify-content-center container"> 
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </section>

{% endblock %}