{% extends "base.html.twig" %}

{% block title %}Panneau d'Administration{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center mb-4">
        <h2>
            {% if id == -1 %}Ajouter{% else %}Modifier{% endif  %} une propriété            
        </h2>
    </div>

    <section class="d-flex justify-content-center container"> 

        <div class="container">
            <div class="row">
                <div class="col form-group">
                    {{ form_start(form) }}
                        <div class="row">
                            <div class="col form-control">{{ form_row(form.name) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-control">{{ form_row(form.availability_start) }}</div>
                            <div class="col-6 form-control">{{ form_row(form.availability_end) }}</div>
                        </div>
                        <div class="row">
                            <div class="col-6 form-control">{{ form_row(form.owner) }}</div>
                            <div class="col-6 form-control">{{ form_row(form.pricing) }}</div>
                        </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        
    </section>

{% endblock %}

