{% extends "base.html.twig" %}

{% block title %}Panneau d'Administration{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center mb-4">
        <h2>
            Panneau d'Administration
        </h2>
    </div>

    <section class="d-flex justify-content-center container"> 
        <div><a class="btn btn-sm btn-outline-danger" href="{{ path('bill') }}">Liste des factures</a></div>
        <div><a class="btn btn-sm btn-outline-danger" href="{{ path('user-editor') }}">Ajouter un utilisateur</a></div>
        <div><a class="btn btn-sm btn-outline-danger" href="{{ path('prop-editor') }}">Ajouter une propriété</a></div>
        <div><a class="btn btn-sm btn-outline-danger" href="{{ path('user-list') }}">Liste des utilisateurs</a></div>
    </section>

{% endblock %}