{% extends "base.html.twig" %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center">
        <h2>
            Liste des factures
        </h2>
    </div>

    {% for bill in bills %}
        <li class='card' style='list-style: none;'>
        <a href='{{ path('bill-det', {id: bill.id} ) }}'>
            <div class='d-flex justify-content-between card-body'>
                <p>
                    <strong>#{{bill.id}}</strong> => Client: {{bill.user.firstname}} {{bill.user.lastname}}<br>
                </p>
                <span>{{bill.date | date('d/m/Y')}}</span>
            </div>
        </a>
        </li>
    {% endfor %}

{% endblock %}