{% extends "base.html.twig" %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center">
        <h2>
            Facture #{{bill.id}}
        </h2>
    </div>

<section id="bill-det" class="container">
    {# Company Info #}
    <div><p>
        <h4>Identification du vendeur :</h4>
        <strong>Nom : </strong>{{camping.firstname}} {{camping.firstname}}<br>
        <strong>Adresse : </strong>{{camping.address}}<br>
        <strong>N° de téléphone : </strong>{{camping.phone}}
    </p></div>

    {# Customer Info #}
    <div class="d-flex justify-content-end"><div><p>
    <h4>Client :</h4>

    {% if bill.user != null %}
        <strong>Nom complet : </strong>{{bill.user.firstname}} {{bill.user.lastname}}<br>
        <strong>Adresse : </strong>{{bill.user.address}}<br>
        <strong>N° de téléphone : </strong>{{bill.user.phone}}
    {% else %}
        <strong>Nom complet : </strong> John Doe
    {% endif %}

    </p></div></div>
    


    {# Bill Header #}
    <div><p>
        <strong>Facture N°{{bill.id}}</strong><br>
        Date : {{bill.date | date('d/m/Y')}}
    </p></div>

{% if booking != null %}

    {# Booking Details #}
    <table style="width:100%">
        <tr>
            <th>N° Réservation</th>
            <th>Début de séjour</th> 
            <th>Fin de séjour</th>
            <th>Durée</th>
            <th>Nb. Adultes</th>
            <th>Nb. Enfants</th>
        </tr>
        
        <tr>
            <td>#{{booking.id}}</td>
            <td>{{booking.date_start | date('d/m/Y')}}</td>
            <td>{{booking.date_end | date('d/m/Y')}}</td>
            <td>{{days}} jours</td>
            <td>{{booking.nb_adults}}</td>
            <td>{{booking.nb_children}}</td>
        </tr>
    </table>

{%  endif %}

    {# Billing Lines #}
    <table style="width:100%">
        <tr>
            <th>Désignation</th>
            <th>Référence</th> 
            <th>Quantité</th>
            <th>Prix Unitaire</th>
            <th>Sous-total</th>
        </tr>

        {% for line in lines %} 

            {% if line.reference != "THS%" %}
                <tr>
                    <td>{{line.label}}</td>
                    <td>{{line.reference}}</td>
                    <td>{{line.number}}</td>
                    <td>{{line.price|number_format(2, ',', ' ')}}€</td>
                    <td><strong>{{( (line.number)*(line.price) )|number_format(2, ',', ' ')}}€</strong></td>
                </tr>  
            {% else %}
                <tr>
                    <td>{{line.label}}</td>
                    <td>{{line.reference}}</td>
                    <td>{{line.number}}</td>
                    <td>{{line.price}}%</td>
                    <td><strong>{{highSeason_tax|number_format(2, ',', ' ')}}€</strong></td>
                </tr>
            {% endif %}
        {% endfor %} 

    </table>

    {# Bill Footer #}
        <div class="d-flex justify-content-end">
            <table style="width:30%">
                <tr>
                    <td><strong>Total (HT)</strong></td>
                    <td><strong>{{totals[0]|number_format(2, ',', ' ')}}€</strong></td> 
                </tr>
            {% if totals[1] != 0 %}
                <tr>
                    <td><strong><em>With Discount (-{{pricings[14].value}}%)</em></strong></td>
                    <td><strong><em>{{totals[1]|number_format(2, ',', ' ')}}€</em></strong></td> 
                </tr>
            {% endif %}
                <tr>
                    <td>TVA</td>
                    <td>20%</td> 
                </tr>
                <tr>
                    <th>Total (TTC)</th>
                    <th>{{totals[2]|number_format(2, ',', ' ')}}€</th> 
                </tr>
            </table>
        </div>

</section>
{% endblock %}