{% extends "base.html.twig" %}

{% block title %}Liste des factures{% endblock %}

{% block body %}
    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center">
        <h2>
            Liste des utilisateurs
        </h2>
    </div>

    {% for member in members %}
        <li class='card' style='list-style: none;'>
            <div class='d-flex justify-content-between card-body'>
                <p>
                    <strong>#{{member.id}}</strong> => {{member.firstname}} {{member.lastname}}<br>
                    <span>
                        {% if member.role == 0 %}
                            Client
                        {% elseif member.role == 1 %}
                            Particulier
                        {% elseif member.role == 2 %}
                            Administrateur
                        {% else %}
                            <strong style="color: red;">Hackeur</strong>
                        {% endif %}
                    </span>
                </p>

                {% if user and user.role == 2 %}
                    <div>
                        <a class="btn btn-sm btn-outline-danger" style="color: white !important; background-color: #d91717;" 
                        href="{{ path('user-editor', {id: member.id} ) }}">Modifier</a>
                    </div>
                {% endif %}

            </div>
        </li>
    {% endfor %}

{% endblock %}