<header class="d-flex justify-content-between align-items-end">

<h1>Camping Espadrille Volante<span>.com</span></h1>

{% if user %}
<div class="logout">
    <p>Bonjour <span>{{user.firstname}} {{user.lastname}}</span> - <a class="btn btn-sm btn-outline-danger" href="{{ path('logout') }}">Se déconnecter</a></p>
</div>
{% else %}
<div class="login">
    <span>Se connecter :</span>
    <form method="POST" action="{{ path('login') }}">
        <table>
            <tr>
                <td><label for="username">Adresse mail :</label></td>
                <td><input type="email" id="username" name="_username"></td>
            </tr>
            <tr>
                <td><label for="pass">Mot de passe :</label></td>
                <td><input type="password" id="pass" name="_password"></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-sm btn-outline-primary" name="submit-login">Se connecter</button>
    </form>
</div>
{% endif %}

</header>