<nav id="main-menu">
    <ul>
        {% if user and user.role == 2 %}
        <li>
            <a id="admin" href='{{ path('admin') }}'>Administration</a>
        </li>
        {% endif %}
        <li>
            <a href='{{ path('home') }}'>Accueil</a>
        </li>
        <li>
            <a href='{{ path('catalog') }}'>Catalogue</a>
        </li>
        {% if user and user.role == 1 %}
        <li>
            <a href='{{ path('myproperties') }}'>Mes propriétés</a>
        </li>
        <li>
            <a href='{{ path('my-bill') }}'>Mes factures</a>
        </li>
        {% endif %}
    </ul>
</nav>