{% extends "base.html.twig" %}

{% block title %}Notre Catalogue - Espadrille Volante{% endblock %}

{% block body %}

    {{ include('home/partials/_menu.html.twig') }}

    <div class="jumbotron text-capitalize text-center">
        <h2>
                Mes propriétés
        </h2>
    </div>

<section class="container">
{% if properties == null %}
    <p class="nbResult">Aucun résultat pour votre recherche :(</p>
{% else %}
    <p class="nbResult"><span>{{ properties|length }}</span> résultat(s) pour votre recherche !</p>
    <ul>
        {% for property in properties %}
            <li class='card m-2' style='list-style: none;'>   
                <h3 style='color: rgb(190, 97, 10); background-color: orange;' class='d-flex justify-content-between card-header'>#{{property.id}}</h3>
                <div class='card-body d-flex'>
                    <div>
                        {# TODO: Picture here ! #}
                    </div>
                    <div style="width:100%;">
                        <div>
                            <h3>{{property.name}}</h3>
                            <p>{{property.pricing.label}}<br>
                                appartenant à : {{property.owner.firstname}} {{property.owner.lastname}}</p>
                        </div>

                        <div class="price d-flex justify-content-end">
                            <div><span>{{property.pricing.value}}€</span>/par nuit</div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endif %}
</section>

{% endblock %}