/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

ol, ul, li {
    /* Annule l'affichage des puces et numéros des listes */
    list-style: none;
}

a {
    color: inherit !important;
    text-decoration: none !important;
}

address {
    font-style: normal;
}

button,
input,
textarea{
    align-items: stretch;
    background-color: transparent;
    border: 0;
    color: inherit;
}

/* GENERAL */

header {
    padding: 15px;
    background-image: url("/public/images/header.jpg");
    padding-top: 25px;
    border-bottom: 5px solid orange;
}

header h1 span{
    color: orange;
}

h1 {
    color: grey
}

body {
    flex : 1 1 100vh;
}

/* MAIN MENU */

#main-menu {
	background-color: black;
	color: white;
}

    #main-menu a#admin{
        background-color: rgb(196, 12, 12);
    }

#main-menu > ul {
	display: flex;
	justify-content: space-between;
}

#main-menu li {
	flex-grow: 1;
	text-align: center;
}

#main-menu *{
    margin: 0 !important;
}

#main-menu p {
    margin-bottom: 0 !important;
}

#main-menu li > a {
	display: inline-block;
	padding: 15px;
	width: 100%;
	height: 100%;
}

#main-menu li > a#admin:hover {
	background-color: rgb(109, 16, 16);
}
#main-menu li > a:hover {
	background-color: grey;
}
#main-menu li > a:active {
	background-color: white;
	color: black !important;
}

/* BOOTSTRAP */

.jumbotron {
    margin-bottom: 0;
}

/* FILTERS */

.filters form {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.filters form>div {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    padding: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filters form>div:nth-child(1) {
    background-color: rgb(226, 47, 47);
}
.filters form>div:nth-child(2) {
    background-color: rgb(223, 128, 51);
}
.filters form>div:nth-child(3) {
    background-color: rgb(255, 208, 56);
}
.filters form>div:nth-child(4) {
    background-color: rgb(18, 194, 18);
}
.filters form>div:nth-child(5) {
    background-color: rgb(46, 185, 228);
}
.filters form>div:nth-child(6) {
    background-color: rgb(46, 64, 228);
}
.filters form>div:nth-child(7) {
    background-color: rgb(147, 37, 211);
}

.filters form input, form select, form button {
    margin: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
}

/* BILLING */

#bill-det table {
    margin-bottom: 2rem;
}

#bill-det th {
    background-color: black;
    color: white;
}

#bill-det th,
#bill-det td
{
    padding: 5px;
    border: 1px solid black;
}

/* LOGIN */

.login span{
    font-weight: 700;
    color: orange;
    border-bottom: 2px solid orange;
    display: block;
    margin-bottom: 2px;
    border-radius: 1px;
}

.login form{
    font-weight: 700;
    display: flex;
    background-color: orange;
    border-radius: 4px;
    padding: 15px;
    color: rgb(255, 255, 255);
    align-items: flex-end;
    flex-direction: column;
}

.login td{
    padding: 3px;
}

.login input{
    background-color: rgb(190, 97, 10);
    padding: 5px;
    border-radius: 5px;
}

/* LOGOUT */

.logout span{
    font-weight: 700;
    color: orange;
}

/* CATALOG */

.nbResult {
    padding: 15px;
    font-size: 25px;
    font-weight: 700;
}

.nbResult span{
    color: red;
}

li .price {
    font-weight: 700;
}
li .price span{
    color: orange;
    display: inline-block;
    transform: translateY(-4px);
    font-size: 25px;
    padding: 3px;
}

.book-dates {
    background-color: orange;
    color: white;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
}

.book-dates input{
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.book-people {
    background-color: rgb(255, 237, 204);
    color: orange;
    font-weight: 700;
    padding: 15px;
    border-radius: 5px;
}

.book-people input{
    background-color: orange;
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.book-billing {
    background-color: orange;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.book-billing button{
    background-color: orange;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
